<template>
  <div>
    <div class="d-flex justify-center">
      <v-btn
          class="mb-3 mt-1 mr-2"
          color="pink"
          @click="startGame"
      >
        Start game
      </v-btn>
      <v-btn
          class="mb-3 mt-1 ml-2"
          color="red"
          @click="restartGame"
      >
        Restart game
      </v-btn>
    </div>
    <v-card class="maindiv pa-1" >

      <div
          :key="rerederBoard"
          :style="{'grid-template-columns': '1fr '.repeat(boardSize.width), 'grid-template-rows': '1fr '.repeat(boardSize.height)}"
          class="board"
      >
        <div
            v-for="index in boardSize.width * boardSize.height"
            :key="index"
            :class="{'selected-element': isElementSelected(index-1)}"
            :style="{background: currentBoard[index-1]}"
            class="grid-item color-tile"
            @click="selectElement(index-1)"
        >
        </div>
      </div>
    </v-card>
  </div>

</template>


<script>
export default {
  name: "Colors",
  data: () => ({
    rerederBoard: 1,
    boardSize: {
      width: 6,
      height: 6,
    },
    goalBoard: ["#6f7fff", "#5d94ff", "#4aaaff", "#38bfff", "#25d5ff", "#12eaff",
                "#826aff", "#6f7fff", "#5d94ff", "#4aaaff", "#38bfff", "#25d5ff",
                "#9455ff", "#826aff", "#6f7fff", "#5d94ff", "#4aaaff", "#38bfff",
                "#a740ff", "#9455ff", "#826aff", "#6f7fff", "#5d94ff", "#4aaaff",
                "#b92aff", "#a740ff", "#9455ff", "#826aff", "#6f7fff", "#5d94ff",
                "#cc15ff", "#b92aff", "#a740ff", "#9455ff", "#826aff", "#6f7fff"],
    currentBoard: [],
    selectedElements: {
      first: null,
      second: null,
    },
    gameOngoing: false,
    audioEffectGameFinished: null,
    audioEffectTileMoved: null,
  }),
  mounted() {
    this.currentBoard = [...this.goalBoard];
    this.audioEffectGameFinished = new Audio(require("../assets/brawoKurwa.mp3"));
    this.audioEffectTileMoved = new Audio(require("../assets/tileSwapped.mp3"));
  },
  methods: {
    startGame() {
      this.currentBoard = this.scrambleColors([...this.goalBoard]);
      this.rerederBoard++;
      this.gameOngoing = true;
    },
    async restartGame() {
      this.currentBoard = [...this.goalBoard];
      this.rerederBoard++;
      this.gameOngoing = false;
      this.selectedElements.first = null;
      this.selectedElements.second = null;
    },
    isElementSelected(index) {
      return this.selectedElements.first === index || this.selectedElements.second === index;
    },
    checkIfGameIsFinished() {
      if (JSON.stringify(this.goalBoard) === JSON.stringify(this.currentBoard) && this.gameOngoing) {
        this.$swal({
          icon: 'success',
          title: 'Oops...',
          html:
              'Good job! <br/>'
        })
      }
    },
    selectElement(index) {
      //todo refactor
      if (this.selectedElements.first === null) {
        this.selectedElements.first = index;
      } else if (this.selectedElements.second === null) {
        this.selectedElements.second = index;
        this.swapSelectedElements();
        this.selectedElements.first = null;
        this.selectedElements.second = null;
      }
    },
    swapSelectedElements() {
      [this.currentBoard[this.selectedElements.first],
        this.currentBoard[this.selectedElements.second]] =
          [this.currentBoard[this.selectedElements.second],
            this.currentBoard[this.selectedElements.first]];
      this.audioEffectTileMoved.play();
      this.checkIfGameIsFinished();
    },
    scrambleColors(array) {
      let currentIndex = this.goalBoard.length, randomIndex;

      while (currentIndex !== 0) {
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;
        // And swap it with the current element.
        [array[currentIndex], array[randomIndex]] = [
          array[randomIndex], array[currentIndex]];
      }
      return array;
    },
    getCoordinatesFromIndex(index) {
      const x = index % this.boardSize.width;
      const y = (index - x) / this.boardSize.width;
      return {x, y};
    },
  }
}
</script>

<style scoped>
.color-tile {
  border-color: white;
  border-width: 0px;
  border-style: solid;
  transition: 0.15s;
}

.selected-element {
  border-width: 5px;
  border-color: firebrick !important;
}

.board {
  display: grid;
  height: 100%;
  gap: 0 0;
}

@media screen and (min-width: 1200px) {
  .color-tile:hover {
    border-width: 5px;
  }
  .maindiv {
  height: 70vh;
  width: 70vh;
}
}

@media screen and (max-width: 1200px) {
.maindiv {
  height: 70vw;
  width: 70vw;
}
}

</style>
