<template>
  <div class="main-container d-flex justify-space-around align-center">
    <colors/>
  </div>
</template>

<script>

import Colors from "@/views/Colors";
export default {
  name: "MainPage",
  components: {Colors},
}
</script>

<style scoped>
  .main-container{
    margin: 0;
    width: 100%;
    height: 100vh;
    background: #5532c2;
  }
</style>